{% extends 'base.html' %}
{% block content %}
<div class="container">
  <h1>{{ billionaire.first_name ~ " " ~ billionaire.last_name }}</h1>
  <table>
    <tr>
      <th>Attribute</th>
      <th>Value</th>
    </tr>
    <tr>
      <td>Fortuna</td>
      <td>${{ billionaire.wealth_millions }}</td>
    </tr>
    <tr>
      <td>Indústria</td>
      <td>{{ billionaire.industry }}</td>
    </tr>
    <tr>
      <td>Conglomerado</td>
      <td>{{ billionaire.conglomorate }}</td>
    </tr>
    <tr>
      <td>País de nascimento</td>
      <td>
        <a href="/countries/{{ billionaire.citizenshipID }}">
          {{ country.name }}
        </a>
      </td>
    </tr>
    <tr>
      <td>Cidade</td>
      <td>
        <a href="/cities/{{ billionaire.cityID }}">
          {{ city.name }}
        </a>
      </td>
    </tr>
    <tr>
      <td>Idade</td>
      <td>{{ billionaire.age }}</td>
    </tr>
    <tr>
      <td>Género</td>
      <td>
        {% if billionaire.gender == 'M' %}
          Masculine
        {% elif billionaire.gender == 'F' %}
          Feminine
        {% else %}
          Other
        {% endif %}
      </td>
    </tr>
    <tr>
      <td>Fonte</td>
      <td>{{ source.source }}</td>
    </tr>
  </table>
</div>
{% endblock %}
